.body {
    background: #f4f5f6;
}

.dashboardWrapper {
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 35px 20px 0 20px;
}

.goToBox {
    color: #03045E;
    background-color: white;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width: 260px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid #03045E;
    padding-top: 40px;
    padding-left: 20px;
    transition: background 0.3s, transform 0.2s;
}

.goToBox:hover {
    transform: scale(1.08);

}

.goToBox a {
    font-size: 20px;
    text-decoration: none;
}

.newWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin-top: 110px;
    padding: 0 20px;
}

.newWrapper a {
    text-decoration: none;
    color: black;
}

.assignedSeat {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    border-radius: 15px;
    width: 400px;
    height: 100px;
    border: 2px solid #03045E;
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
    transition: background 0.3s, transform 0.2s;
}

.assignedSeat:hover {
    transform: scale(1.08);
}

.assignedInvi {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    border-radius: 15px;
    width: 400px;
    height: 100px;
    border: 2px solid #03045E;
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
    transition: background 0.3s, transform 0.2s;
}

.assignedInvi:hover {
    transform: scale(1.08);
}